.User{
    margin: 12px;
    border: 1px solid red;
    border-radius: 10px;
    background: #a1acb1;
    width: 70%;
    padding: 15px;
    height: 250px;
}
button{
    padding: 10px 20px;
    margin: 3px;
}