.Car{
    display: flex;
    flex-direction: column;
    width: 27%;
    align-items: center;
    justify-content: center;
    border: 1px solid darkblue;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
    background: #bbd1f6;
}
.Car button{
    padding: 4px 30px;
    margin-bottom: 20px;
}