.Users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.User{
    border:1px solid black;
    width: 18%;
    padding: 10px;
    margin: 25px 5px;
}
.FormBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 20px;
}
button{
    padding: 2px 20px;
    margin-left: 20px;
}